/* src/index.css */

* {
    box-sizing: border-box; /* More intuitive element sizing */
  }
  
  html {
    font-family: sans-serif; /* Basic sans-serif font */
  }
  
  body {
    margin: 0; /* Remove default body margin */
    background-color: #222; /* Dark background */
    color: #eee; /* Light text */
  }
  
  h1, h2 {
      color: #fff; /* Make headings brighter */
      text-align: center;
      margin-bottom: 1.5rem;
  }